package invoice

import "github.com/angelofallars/gotemplate/view"

templ Index() {
	@view.FullPage("Trello Invoice Builder") {
		<div id="cards" class="my-3 flex flex-row items-start gap-y-3 flex-wrap justify-center">
			@MakeInvoiceForm()
			@InvoiceCard()
		</div>
	}
}
